@charset "UTF-8";

:root{
    --cor1:black;
    --cor2:white;

}

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}




/* ------------------body-----------------*/
html body{
    width: 100vw;
    height: 100vh;
    
    
}
body{
    


    background-image: url('imagens/fundo-madeira.jpg');
    background-size: cover;
    background-attachment: fixed;
    
    
}


/* ------------------main-----------------*/

main{
    height: 100vh;
    position: relative;
    
}


/* ------------------section#telefone-----------------*/

section#telefone{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%
    );
    width: 311px;
    height: 627px;
    background-color: rgba(127, 255, 212, 0);
    
    background-image: url('imagens/frame-iphone.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}


iframe#tela{
    
    position: relative;
    top:80px;
    left:22px;
    width: 264.5px;
    height: 469.5px;
}




/* ------------------section#botoes-----------------*/

section#redes-sociais img{
    width: 50px;
    height: 50px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px black;
   
}

section#redes-sociais img:hover{
    border: 2px solid rgba(255, 255, 0, 0.777);
    box-shadow: 5px 5px 10px rgba(255, 255, 0, 0.301);

    transform: translate(5px, -3px);
    transition: transform 0.5s;
}
section#redes-sociais{
    text-align: left; /*posicionamento dos botoes de rede social*/




    
}